<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#/generate">Generate</a></li>
		<li><a href="#/view">View</a></li>
	</ul>
	<h3 class="text-muted">canvasTilemap</h3>
</div>

<!-- <div>
	<p>Want to generate and store a tilemap based on your current location?</p>
	<a class="btn btn-success" href="#/generate">Generate</a>
</div>
<hr>
<div>
	<p>Want to see the generated tilemap for your current location?</p>
	<a class="btn btn-success" href="#/view">Look here, see</a>
</div> -->

<div>
	<p>Want to move around a specific geohash?</p>
	<input type="text" class="form-control hashinput" ng-model="hash">
	<a class="btn btn-success" href="#/walk/{{hash}}">load geohash {{hash}}</a>
</div>

<hr>
<div>
	<p>Want move around tilemaps in your area?</p>
	<a class="btn btn-success" href="#/walk">load current location</a>
</div>

<!-- <p>You are at {{position.coords.latitude}}, {{position.coords.longitude}}</p> -->

<!-- <tiler draw="toDraw" updateworld="updateworld"></tiler> -->

<div class="footer">
	<p>And so it begins.</p>
</div>